ul {
    list-style: none;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #2d0c23;
  }
  
  @media all and (max-width: 480px) 
  {
    
    ul { flex-direction: column; }
  
  }
  
  ul a  {
    
          padding: 1em 2em;
          position: relative;
          display: inline-block;
          font-family: 'open_sansregular';
          font-weight: bold;
          color: #ffffff;
          text-decoration: none;
          transition: 0.3s;
        }
  
  ul a:hover{
    
      background: #c25c80;
  
  }

img{
    
    align-items: center;
}
.link{
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    white-space: nowrap;
    color: #242424;
    
}

.box{
    list-style: none;
    justify-content:center;
    align-items: flex-end;
    display: flex;
    background-color: #e79fd7a9;

}
.img{
    height: 67vh;
    display: flex;
    width: 180px;
    
}
.para{
display: flex;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.ula{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display:flex;
    align-items: center;

}
